
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  color: #000000;
  font-family: 'Catamaran', sans-serif;
  font-size: 25px;
  padding-top: 20px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
}

h2 {
  color: #000000;
  font-family: 'Catamaran', sans-serif;
  font-size: 15px;
  margin: 0 auto;
  padding-top: 20px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
}
h3 {
  color: #000000;
  font-family: 'Catamaran', sans-serif;
  font-size: 13px;
  margin: 0 auto;
  padding-top: 20px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
}

p {
  color: #4f4f4f;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  margin: 15px;
  margin-bottom: 20px;
  line-height: 1.5;
}
  .first {
    font-family: sans-serif;
    font-weight: bold;
  }

a {
  color: #f90e3a;
  font-family: sans-serif;
  text-decoration: none;

}

.right {
  text-align: right;
  padding-right: 45px;
}
.center {
  text-align: center;
  padding-top: 20px;
}

.anaglyph {
  text-shadow: -0.06em 0 red, 0.06em 0 cyan;
}
.anaglyph-lilac {
  text-shadow: -0.06em 0 #c04f8c, 0.06em 0 #e4fc85;
}

.scale:hover {
  transform: scale(1.4);
}
.scale2:hover {
  transform: scale(1.1);
}

.shadow-grey {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.opac0-7 {
  opacity: 0.7;
}
.opac0-9 {
  opacity: 0.9;
}

  .container {
    /*flexbox*/
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .container2 {
    display: flex;
    flex: auto;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-start;
  }
  .container3 {
    display: flex;
    max-width: 88%;
    justify-content: space-between;
    align-items: center;
    margin: auto;
  }
  .inner-container {
    background-color: white;
    padding: 2px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    }
    .inner-container2 {
      padding: 2px;
      margin-top: 15px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 15px;
      }
  }
  .box {
    display: flex;
    flex-flow: column;
    margin: 5px;
  }
  .box2 {
    flex-flow: row;
    margin: 5px;
    max-width: 400px;
  }
  .innerbox {
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin: 5px;
  }
  .imgbox {
    max-width: 300px;
  }
  .imgbox2 {
    max-width: 250px;
  }
  .imgbox3 {
    max-height: 150px;
  }
  .imgbox4 {
    max-width: 50px;
    padding: 20px;
    float: right;
  }

  .hero {
    background-image: url(./images/hex.jpg);
    background-size: cover;
    background-position: center;
    height: 600px;
  }

  .bgdef {
    background-image: url();
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5 {
    position: relative;
    opacity: inherit;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .bgimg-1 {
    background-image: url(./images/hex.jpg);
    min-height: 100%;
  }
  .bgimg-2 {
    background-image: url(./images/scatter.jpeg);
    min-height: 25%;
  }
  .bgimg-3 {
    background-image: url(./images/sjp15.jpg);
    min-height: 25%;
  }
  .bgimg-4 {
    background-image: url(./images/smoke.jpeg);
    min-height: 100%;
  }
  .bgimg-5 {
    background-image: url(./images/blue.jpg);
    min-height: 25%;
    opacity: 1;
  }

  .bgcol1 {
    width: 100%;
    height: 200px;
    text-align: center;
    background-image;
    background-color: #24D9D2;
  }
/* ANIMATION start */

  .bounceInLeft {
    animation-name: bounceInLeft;
    animation-duration: 2s;
    animation-delay: 0.3s;
  }

  @-webkit-keyframes bounceInLeft {
    from,
    60%,
    75%,
    90%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
      opacity: 0;
      -webkit-transform: translate3d(-3000px, 0, 0);
      transform: translate3d(-3000px, 0, 0);
    }

    60% {
      opacity: 1;
      -webkit-transform: translate3d(25px, 0, 0);
      transform: translate3d(25px, 0, 0);
    }

    75% {
      -webkit-transform: translate3d(-10px, 0, 0);
      transform: translate3d(-10px, 0, 0);
    }

    90% {
      -webkit-transform: translate3d(5px, 0, 0);
      transform: translate3d(5px, 0, 0);
    }

    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }

  @keyframes bounceInLeft {
    from,
    60%,
    75%,
    90%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
      opacity: 0;
      -webkit-transform: translate3d(-3000px, 0, 0);
      transform: translate3d(-3000px, 0, 0);
    }

    60% {
      opacity: 1;
      -webkit-transform: translate3d(25px, 0, 0);
      transform: translate3d(25px, 0, 0);
    }

    75% {
      -webkit-transform: translate3d(-10px, 0, 0);
      transform: translate3d(-10px, 0, 0);
    }

    90% {
      -webkit-transform: translate3d(5px, 0, 0);
      transform: translate3d(5px, 0, 0);
    }

    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }

  .bounceInLeft {
    -webkit-animation-name: bounceInLeft;
    animation-name: bounceInLeft;
  }
/* ANIMATION slut */

/*SKÄRMUPPLÖSNINGAR OSV*/

  @media only screen and (min-width: 760px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 18px;
  }
  p {
    font-size: 15px;
  }
  .imgbox2 {
    max-width: 350px;
  }
  .imgbox3 {
    max-height: 250px;
  }
  .imgbox4 {
    max-width: 80px;
  }

  }
  @media only screen and (min-width: 1240px) {
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 37px;
  }
  h3 {
    font-size: 24px;
  }
  p {
    font-size: 20px;
  }
  .imgbox2 {
    max-width: 450px;
  }
  .imgbox4 {
    max-width: 100px;
  }

  }
  @media only screen and (max-device-width: 1366px) {
      .parallax {
          background-attachment: scroll;
      }
  }
